In [1]:
import pandas as pd
df=pd.read_csv("wfp_food_prices_phl.csv", low_memory=False)

df

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice
0,#date,#adm1+name,#adm2+name,#loc+market+name,#geo+lat,#geo+lon,#item+type,#item+name,#item+unit,#item+price+flag,#item+price+type,#currency,#value,#value+usd
1,2000-01-15,National Capital region,Metropolitan Manila,Metro Manila,14.604167,120.982222,cereals and tubers,Maize flour (yellow),KG,actual,Retail,PHP,15,0.3717
2,2000-01-15,National Capital region,Metropolitan Manila,Metro Manila,14.604167,120.982222,cereals and tubers,"Rice (milled, superior)",KG,actual,Retail,PHP,20,0.4957
3,2000-01-15,National Capital region,Metropolitan Manila,Metro Manila,14.604167,120.982222,cereals and tubers,"Rice (milled, superior)",KG,actual,Wholesale,PHP,18.35,0.4548
4,2000-01-15,National Capital region,Metropolitan Manila,Metro Manila,14.604167,120.982222,cereals and tubers,"Rice (regular, milled)",KG,actual,Retail,PHP,18,0.4461
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107350,2021-02-15,Region XIII,Agusan del Norte,Butuan City,8.957268,125.534029,vegetables and fruits,Ginger,KG,aggregate,Retail,PHP,114,2.3725
107351,2021-02-15,Region XIII,Agusan del Norte,Butuan City,8.957268,125.534029,vegetables and fruits,Mangoes (carabao),KG,aggregate,Retail,PHP,106.67,2.2199
107352,2021-02-15,Region XIII,Agusan del Norte,Butuan City,8.957268,125.534029,vegetables and fruits,Onions (red),KG,aggregate,Retail,PHP,114.17,2.3759
107353,2021-02-15,Region XIII,Agusan del Norte,Butuan City,8.957268,125.534029,vegetables and fruits,Papaya,KG,aggregate,Retail,PHP,45,0.9365
107354,2021-02-15,Region XIII,Agusan del Norte,Butuan City,8.957268,125.534029,vegetables and fruits,Tomatoes,KG,aggregate,Retail,PHP,81.67,1.6996

In [2]:
df=df[1:][:]
df

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice
1,2000-01-15,National Capital region,Metropolitan Manila,Metro Manila,14.604167,120.982222,cereals and tubers,Maize flour (yellow),KG,actual,Retail,PHP,15,0.3717
2,2000-01-15,National Capital region,Metropolitan Manila,Metro Manila,14.604167,120.982222,cereals and tubers,"Rice (milled, superior)",KG,actual,Retail,PHP,20,0.4957
3,2000-01-15,National Capital region,Metropolitan Manila,Metro Manila,14.604167,120.982222,cereals and tubers,"Rice (milled, superior)",KG,actual,Wholesale,PHP,18.35,0.4548
4,2000-01-15,National Capital region,Metropolitan Manila,Metro Manila,14.604167,120.982222,cereals and tubers,"Rice (regular, milled)",KG,actual,Retail,PHP,18,0.4461
5,2000-01-15,National Capital region,Metropolitan Manila,Metro Manila,14.604167,120.982222,cereals and tubers,"Rice (regular, milled)",KG,actual,Wholesale,PHP,16.35,0.4052
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107350,2021-02-15,Region XIII,Agusan del Norte,Butuan City,8.957268,125.534029,vegetables and fruits,Ginger,KG,aggregate,Retail,PHP,114,2.3725
107351,2021-02-15,Region XIII,Agusan del Norte,Butuan City,8.957268,125.534029,vegetables and fruits,Mangoes (carabao),KG,aggregate,Retail,PHP,106.67,2.2199
107352,2021-02-15,Region XIII,Agusan del Norte,Butuan City,8.957268,125.534029,vegetables and fruits,Onions (red),KG,aggregate,Retail,PHP,114.17,2.3759
107353,2021-02-15,Region XIII,Agusan del Norte,Butuan City,8.957268,125.534029,vegetables and fruits,Papaya,KG,aggregate,Retail,PHP,45,0.9365
107354,2021-02-15,Region XIII,Agusan del Norte,Butuan City,8.957268,125.534029,vegetables and fruits,Tomatoes,KG,aggregate,Retail,PHP,81.67,1.6996

In [3]:
df=df.drop(labels='usdprice',axis=1)
df=df.drop(labels='currency',axis=1)

In [4]:

df=df.drop(labels='pricetype',axis=1) 
df

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,priceflag,price
1,2000-01-15,National Capital region,Metropolitan Manila,Metro Manila,14.604167,120.982222,cereals and tubers,Maize flour (yellow),KG,actual,15
2,2000-01-15,National Capital region,Metropolitan Manila,Metro Manila,14.604167,120.982222,cereals and tubers,"Rice (milled, superior)",KG,actual,20
3,2000-01-15,National Capital region,Metropolitan Manila,Metro Manila,14.604167,120.982222,cereals and tubers,"Rice (milled, superior)",KG,actual,18.35
4,2000-01-15,National Capital region,Metropolitan Manila,Metro Manila,14.604167,120.982222,cereals and tubers,"Rice (regular, milled)",KG,actual,18
5,2000-01-15,National Capital region,Metropolitan Manila,Metro Manila,14.604167,120.982222,cereals and tubers,"Rice (regular, milled)",KG,actual,16.35
...,...,...,...,...,...,...,...,...,...,...,...
107350,2021-02-15,Region XIII,Agusan del Norte,Butuan City,8.957268,125.534029,vegetables and fruits,Ginger,KG,aggregate,114
107351,2021-02-15,Region XIII,Agusan del Norte,Butuan City,8.957268,125.534029,vegetables and fruits,Mangoes (carabao),KG,aggregate,106.67
107352,2021-02-15,Region XIII,Agusan del Norte,Butuan City,8.957268,125.534029,vegetables and fruits,Onions (red),KG,aggregate,114.17
107353,2021-02-15,Region XIII,Agusan del Norte,Butuan City,8.957268,125.534029,vegetables and fruits,Papaya,KG,aggregate,45
107354,2021-02-15,Region XIII,Agusan del Norte,Butuan City,8.957268,125.534029,vegetables and fruits,Tomatoes,KG,aggregate,81.67

In [5]:
df=df.rename({'admin1': 'province', 'admin2': 'district'}, axis=1) 
df

,date,province,district,market,latitude,longitude,category,commodity,unit,priceflag,price
1,2000-01-15,National Capital region,Metropolitan Manila,Metro Manila,14.604167,120.982222,cereals and tubers,Maize flour (yellow),KG,actual,15
2,2000-01-15,National Capital region,Metropolitan Manila,Metro Manila,14.604167,120.982222,cereals and tubers,"Rice (milled, superior)",KG,actual,20
3,2000-01-15,National Capital region,Metropolitan Manila,Metro Manila,14.604167,120.982222,cereals and tubers,"Rice (milled, superior)",KG,actual,18.35
4,2000-01-15,National Capital region,Metropolitan Manila,Metro Manila,14.604167,120.982222,cereals and tubers,"Rice (regular, milled)",KG,actual,18
5,2000-01-15,National Capital region,Metropolitan Manila,Metro Manila,14.604167,120.982222,cereals and tubers,"Rice (regular, milled)",KG,actual,16.35
...,...,...,...,...,...,...,...,...,...,...,...
107350,2021-02-15,Region XIII,Agusan del Norte,Butuan City,8.957268,125.534029,vegetables and fruits,Ginger,KG,aggregate,114
107351,2021-02-15,Region XIII,Agusan del Norte,Butuan City,8.957268,125.534029,vegetables and fruits,Mangoes (carabao),KG,aggregate,106.67
107352,2021-02-15,Region XIII,Agusan del Norte,Butuan City,8.957268,125.534029,vegetables and fruits,Onions (red),KG,aggregate,114.17
107353,2021-02-15,Region XIII,Agusan del Norte,Butuan City,8.957268,125.534029,vegetables and fruits,Papaya,KG,aggregate,45
107354,2021-02-15,Region XIII,Agusan del Norte,Butuan City,8.957268,125.534029,vegetables and fruits,Tomatoes,KG,aggregate,81.67

In [6]:
df=df.drop(labels='latitude',axis=1)
df=df.drop(labels='longitude',axis=1)
df

,date,province,district,market,category,commodity,unit,priceflag,price
1,2000-01-15,National Capital region,Metropolitan Manila,Metro Manila,cereals and tubers,Maize flour (yellow),KG,actual,15
2,2000-01-15,National Capital region,Metropolitan Manila,Metro Manila,cereals and tubers,"Rice (milled, superior)",KG,actual,20
3,2000-01-15,National Capital region,Metropolitan Manila,Metro Manila,cereals and tubers,"Rice (milled, superior)",KG,actual,18.35
4,2000-01-15,National Capital region,Metropolitan Manila,Metro Manila,cereals and tubers,"Rice (regular, milled)",KG,actual,18
5,2000-01-15,National Capital region,Metropolitan Manila,Metro Manila,cereals and tubers,"Rice (regular, milled)",KG,actual,16.35
...,...,...,...,...,...,...,...,...,...
107350,2021-02-15,Region XIII,Agusan del Norte,Butuan City,vegetables and fruits,Ginger,KG,aggregate,114
107351,2021-02-15,Region XIII,Agusan del Norte,Butuan City,vegetables and fruits,Mangoes (carabao),KG,aggregate,106.67
107352,2021-02-15,Region XIII,Agusan del Norte,Butuan City,vegetables and fruits,Onions (red),KG,aggregate,114.17
107353,2021-02-15,Region XIII,Agusan del Norte,Butuan City,vegetables and fruits,Papaya,KG,aggregate,45
107354,2021-02-15,Region XIII,Agusan del Norte,Butuan City,vegetables and fruits,Tomatoes,KG,aggregate,81.67

In [7]:
df=df.drop(labels='unit',axis=1)
df=df.drop(labels='priceflag',axis=1)
df

,date,province,district,market,category,commodity,price
1,2000-01-15,National Capital region,Metropolitan Manila,Metro Manila,cereals and tubers,Maize flour (yellow),15
2,2000-01-15,National Capital region,Metropolitan Manila,Metro Manila,cereals and tubers,"Rice (milled, superior)",20
3,2000-01-15,National Capital region,Metropolitan Manila,Metro Manila,cereals and tubers,"Rice (milled, superior)",18.35
4,2000-01-15,National Capital region,Metropolitan Manila,Metro Manila,cereals and tubers,"Rice (regular, milled)",18
5,2000-01-15,National Capital region,Metropolitan Manila,Metro Manila,cereals and tubers,"Rice (regular, milled)",16.35
...,...,...,...,...,...,...,...
107350,2021-02-15,Region XIII,Agusan del Norte,Butuan City,vegetables and fruits,Ginger,114
107351,2021-02-15,Region XIII,Agusan del Norte,Butuan City,vegetables and fruits,Mangoes (carabao),106.67
107352,2021-02-15,Region XIII,Agusan del Norte,Butuan City,vegetables and fruits,Onions (red),114.17
107353,2021-02-15,Region XIII,Agusan del Norte,Butuan City,vegetables and fruits,Papaya,45
107354,2021-02-15,Region XIII,Agusan del Norte,Butuan City,vegetables and fruits,Tomatoes,81.67

In [8]:
import numpy as np

size=len(df['date'])
year_arr=np.zeros((size,1))
month_arr=np.zeros((size,1))
i=0
for date in df['date']:
  darr=date.split('-')
  year_arr[i]=darr[0]
  month_arr[i]=darr[1]
  #print(darr[1])
  i+=1

df['year']=year_arr.astype(int)
df['month']=month_arr.astype(int)
df=df.drop(labels='date',axis=1) 

df

,province,district,market,category,commodity,price,year,month
1,National Capital region,Metropolitan Manila,Metro Manila,cereals and tubers,Maize flour (yellow),15,2000,1
2,National Capital region,Metropolitan Manila,Metro Manila,cereals and tubers,"Rice (milled, superior)",20,2000,1
3,National Capital region,Metropolitan Manila,Metro Manila,cereals and tubers,"Rice (milled, superior)",18.35,2000,1
4,National Capital region,Metropolitan Manila,Metro Manila,cereals and tubers,"Rice (regular, milled)",18,2000,1
5,National Capital region,Metropolitan Manila,Metro Manila,cereals and tubers,"Rice (regular, milled)",16.35,2000,1
...,...,...,...,...,...,...,...,...
107350,Region XIII,Agusan del Norte,Butuan City,vegetables and fruits,Ginger,114,2021,2
107351,Region XIII,Agusan del Norte,Butuan City,vegetables and fruits,Mangoes (carabao),106.67,2021,2
107352,Region XIII,Agusan del Norte,Butuan City,vegetables and fruits,Onions (red),114.17,2021,2
107353,Region XIII,Agusan del Norte,Butuan City,vegetables and fruits,Papaya,45,2021,2
107354,Region XIII,Agusan del Norte,Butuan City,vegetables and fruits,Tomatoes,81.67,2021,2

In [9]:
cats_uniq = df['commodity'].unique()
cats_uniq

array(['Maize flour (yellow)', 'Rice (milled, superior)',
       'Rice (regular, milled)', 'Meat (pork)', 'Maize flour (white)',
       'Maize (yellow)', 'Maize (white)', 'Potatoes (Irish)',
       'Rice (paddy)', 'Sweet potatoes', 'Cabbage', 'Carrots', 'Garlic',
       'Onions (red)', 'Tomatoes', 'Onions (white)', 'Eggs',
       'Fish (fresh)', 'Meat (beef, chops with bones)',
       'Meat (chicken, whole)', 'Beans (mung)', 'Groundnuts (unshelled)',
       'Rice (premium)', 'Rice (special)', 'Rice (well milled)', 'Taro',
       'Anchovies', 'Crab', 'Fish (frigate tuna)',
       'Fish (mackerel, fresh)', 'Fish (roundscad)', 'Fish (slipmouth)',
       'Fish (threadfin bream)', 'Meat (beef)', 'Meat (pork, with bones)',
       'Shrimp (endeavor)', 'Groundnuts (shelled)', 'Bananas (latundan)',
       'Bananas (saba)', 'Beans (green, fresh)', 'Beans (string)',
       'Bitter melon', 'Bottle gourd', 'Cabbage (chinese)', 'Calamansi',
       'Choko', 'Coconut', 'Eggplants', 'Ginger', 'Papaya', 'Squashes',
       'Sweet Potato leaves', 'Water spinach', 'Semolina (white)',
       'Semolina (yellow)', 'Eggs (duck)', 'Fish (milkfish)',
       'Fish (redbelly yellowtail fusilier)', 'Fish (tilapia)',
       'Meat (pork, hock)', 'Shrimp (tiger)', 'Bananas (lakatan)',
       'Mangoes (carabao)', 'Mangoes (piko)', 'Pineapples', 'Chicken',
       'Mandarins', 'Sugar (brown)', 'Sugar (white)', 'Oil (cooking)',
       'Garlic (large)', 'Meat (pork, with fat)', 'Garlic (small)'],
      dtype=object)

In [10]:
df2 = df.sort_values(by=['province','commodity'])
df2

,province,district,market,category,commodity,price,year,month
32409,Autonomous region in Muslim Mindanao,Basilan,Basilan,"meat, fish and eggs",Anchovies,200,2020,5
32454,Autonomous region in Muslim Mindanao,Maguindanao,Maguindanao,"meat, fish and eggs",Anchovies,187.08,2020,5
32502,Autonomous region in Muslim Mindanao,Sulu,Sulu,"meat, fish and eggs",Anchovies,106.93,2020,5
32546,Autonomous region in Muslim Mindanao,Tawi-Tawi,Tawi-Tawi,"meat, fish and eggs",Anchovies,24.89,2020,5
36181,Autonomous region in Muslim Mindanao,Basilan,Basilan,"meat, fish and eggs",Anchovies,200,2020,6
...,...,...,...,...,...,...,...,...
59247,Region XIII,Surigao del Sur,Surigao del Sur,vegetables and fruits,Water spinach,25,2020,11
62897,Region XIII,Agusan del Norte,Agusan del Norte,vegetables and fruits,Water spinach,72,2020,12
62946,Region XIII,Agusan del Sur,Agusan del Sur,vegetables and fruits,Water spinach,39.6,2020,12
62996,Region XIII,Surigao del Norte,Surigao del Norte,vegetables and fruits,Water spinach,50,2020,12
63044,Region XIII,Surigao del Sur,Surigao del Sur,vegetables and fruits,Water spinach,25,2020,12

In [11]:
df2=df.query("commodity == 'Rice (milled, superior)' or commodity == 'Rice (premium)'")
df2

,province,district,market,category,commodity,price,year,month
2,National Capital region,Metropolitan Manila,Metro Manila,cereals and tubers,"Rice (milled, superior)",20,2000,1
3,National Capital region,Metropolitan Manila,Metro Manila,cereals and tubers,"Rice (milled, superior)",18.35,2000,1
7,Region III,Nueva Ecija,Palayan,cereals and tubers,"Rice (milled, superior)",19,2000,1
8,Region III,Nueva Ecija,Palayan,cereals and tubers,"Rice (milled, superior)",18,2000,1
11,Region VI,Iloilo,Iloilo City,cereals and tubers,"Rice (milled, superior)",20.4,2000,1
...,...,...,...,...,...,...,...,...
106659,Region VIII,Leyte,Tacloban City,cereals and tubers,Rice (premium),41.64,2021,1
106692,Region X,Misamis Oriental,Cagayan de Oro City,cereals and tubers,Rice (premium),46.49,2021,1
106724,Region XI,Davao del Sur,Davao City,cereals and tubers,Rice (premium),40.5,2021,1
106757,Region XII,North Cotabato,Kidapawan City,cereals and tubers,Rice (premium),39.77,2021,1
106790,Region XIII,Agusan del Norte,Butuan City,cereals and tubers,Rice (premium),45.51,2021,1

In [12]:
df2.sort_values(by=['province'])
df2

,province,district,market,category,commodity,price,year,month
2,National Capital region,Metropolitan Manila,Metro Manila,cereals and tubers,"Rice (milled, superior)",20,2000,1
3,National Capital region,Metropolitan Manila,Metro Manila,cereals and tubers,"Rice (milled, superior)",18.35,2000,1
7,Region III,Nueva Ecija,Palayan,cereals and tubers,"Rice (milled, superior)",19,2000,1
8,Region III,Nueva Ecija,Palayan,cereals and tubers,"Rice (milled, superior)",18,2000,1
11,Region VI,Iloilo,Iloilo City,cereals and tubers,"Rice (milled, superior)",20.4,2000,1
...,...,...,...,...,...,...,...,...
106659,Region VIII,Leyte,Tacloban City,cereals and tubers,Rice (premium),41.64,2021,1
106692,Region X,Misamis Oriental,Cagayan de Oro City,cereals and tubers,Rice (premium),46.49,2021,1
106724,Region XI,Davao del Sur,Davao City,cereals and tubers,Rice (premium),40.5,2021,1
106757,Region XII,North Cotabato,Kidapawan City,cereals and tubers,Rice (premium),39.77,2021,1
106790,Region XIII,Agusan del Norte,Butuan City,cereals and tubers,Rice (premium),45.51,2021,1

In [13]:
df2['month'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [14]:
df2=df2.drop(labels='district',axis=1)
df2=df2.drop(labels='market',axis=1)
df2=df2.drop(labels='category',axis=1)

In [15]:
df2

                       province                commodity  price  year  month
2       National Capital region  Rice (milled, superior)     20  2000      1
3       National Capital region  Rice (milled, superior)  18.35  2000      1
7                    Region III  Rice (milled, superior)     19  2000      1
8                    Region III  Rice (milled, superior)     18  2000      1
11                    Region VI  Rice (milled, superior)   20.4  2000      1
...                         ...                      ...    ...   ...    ...
106659              Region VIII           Rice (premium)  41.64  2021      1
106692                 Region X           Rice (premium)  46.49  2021      1
106724                Region XI           Rice (premium)   40.5  2021      1
106757               Region XII           Rice (premium)  39.77  2021      1
106790              Region XIII           Rice (premium)  45.51  2021      1

[3470 rows x 5 columns]

In [16]:
df2 = df2.reset_index(drop=True)
df2

                     province                commodity  price  year  month
0     National Capital region  Rice (milled, superior)     20  2000      1
1     National Capital region  Rice (milled, superior)  18.35  2000      1
2                  Region III  Rice (milled, superior)     19  2000      1
3                  Region III  Rice (milled, superior)     18  2000      1
4                   Region VI  Rice (milled, superior)   20.4  2000      1
...                       ...                      ...    ...   ...    ...
3465              Region VIII           Rice (premium)  41.64  2021      1
3466                 Region X           Rice (premium)  46.49  2021      1
3467                Region XI           Rice (premium)   40.5  2021      1
3468               Region XII           Rice (premium)  39.77  2021      1
3469              Region XIII           Rice (premium)  45.51  2021      1

[3470 rows x 5 columns]

In [17]:
prov_uniq = df2['province'].unique()
prov_uniq

array(['National Capital region', 'Region III', 'Region VI', 'Region VII',
       'Region XI', 'Region XII', 'Autonomous region in Muslim Mindanao',
       'Cordillera Administrative region', 'Region I', 'Region II',
       'Region IV-A', 'Region IV-B', 'Region IX', 'Region V',
       'Region VIII', 'Region X', 'Region XIII'], dtype=object)

In [19]:
dict_prov={}

for i in range (len(prov_uniq)):
    dict_prov[prov_uniq[i]] = i+1
dict_prov

{'National Capital region': 1,
 'Region III': 2,
 'Region VI': 3,
 'Region VII': 4,
 'Region XI': 5,
 'Region XII': 6,
 'Autonomous region in Muslim Mindanao': 7,
 'Cordillera Administrative region': 8,
 'Region I': 9,
 'Region II': 10,
 'Region IV-A': 11,
 'Region IV-B': 12,
 'Region IX': 13,
 'Region V': 14,
 'Region VIII': 15,
 'Region X': 16,
 'Region XIII': 17}

In [23]:
size=len(df2['province'])
catg=df2['province'].unique()

catgarr=list(dict_prov.keys())
carr=dict_prov
for i in range (len(catg)):
  a=np.zeros((size,1))
  exec('catgarr[i] = a')


for j in range (size):
  cval=df2['province'][j]
  ind=carr.get(cval)
  catgarr[ind-1][j]=1


r=0
for c in catg:
  df2[c]=catgarr[r].astype(int)
  r+=1

df2=df2.drop(labels='province',axis=1) 
df2

KeyError: 'province'

In [24]:
df2

,commodity,price,year,month,National Capital region,Region III,Region VI,Region VII,Region XI,Region XII,...,Cordillera Administrative region,Region I,Region II,Region IV-A,Region IV-B,Region IX,Region V,Region VIII,Region X,Region XIII
0,"Rice (milled, superior)",20,2000,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,"Rice (milled, superior)",18.35,2000,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,"Rice (milled, superior)",19,2000,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,"Rice (milled, superior)",18,2000,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,"Rice (milled, superior)",20.4,2000,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3465,Rice (premium),41.64,2021,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3466,Rice (premium),46.49,2021,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3467,Rice (premium),40.5,2021,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3468,Rice (premium),39.77,2021,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3469,Rice (premium),45.51,2021,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [25]:
df2=df2.drop(labels='commodity',axis=1)

In [26]:
df2

,price,year,month,National Capital region,Region III,Region VI,Region VII,Region XI,Region XII,Autonomous region in Muslim Mindanao,Cordillera Administrative region,Region I,Region II,Region IV-A,Region IV-B,Region IX,Region V,Region VIII,Region X,Region XIII
0,20,2000,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,18.35,2000,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,19,2000,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,18,2000,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,20.4,2000,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3465,41.64,2021,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3466,46.49,2021,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3467,40.5,2021,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3468,39.77,2021,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
3469,45.51,2021,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [28]:
df2.to_csv("food_proc.csv",index=False)